.Container {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.Icon {
  color: #bb3d15;
}