.Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TimeDisplay {
  display: flex;
  gap: 2px;

  &__Column {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}