@keyframes pulse-hand {
  0% {
    background-color: var(--colon-pulse-start-colour);
  }

  18.75% {
    background-color: var(--colon-pulse-end-colour);
  }

  37.5% {
    background-color: var(--colon-pulse-start-colour);
  }

  100% {
    background-color: var(--colon-pulse-start-colour);
  }
}

.Clock {
  width: var(--clock-diameter);
  height: var(--clock-diameter);
  border-radius: 50%;
  position: relative;
  border-width: 2px;
  border-style: solid;
  box-shadow:
          0 2px 5px var(--shadow-colour-outer),
          inset 0 0 5px var(--shadow-colour-inner);

  $hand-width: calc(var(--clock-diameter) * 0.05);

  &__HourHand,
  &__MinuteHand {
    position: absolute;
    bottom: 50%;
    left: calc(50% - $hand-width / 4);
    transform-origin: bottom center;
    transition: background-color ease-in-out 3s;
  }

  &__HourHand {
    width: $hand-width;
    height: calc(var(--clock-diameter) * 0.35);
  }

  &__MinuteHand {
    width: $hand-width;
    height: calc(var(--clock-diameter) * 0.40);
  }

  &__CenterDot {
    position: absolute;
    top: 50%;
    left: calc(50% + 1px);
    $dot-size-ratio: 0.1;
    width: calc(var(--clock-diameter) * $dot-size-ratio);
    height: calc(var(--clock-diameter) * $dot-size-ratio);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-color ease-in-out 3s;
  }

  &__Pulse {
    animation: pulse-hand 3.2s infinite ease-out;
  }
}