.Drawer {
  &__Title {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__Content {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
  }
}

.SectionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Section {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;

  &--Condensed {
    gap: 10px;
  }

  &__Heading {
    border-bottom: 1px solid;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 3px;
  }
}